<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>3ayez</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(DISPLAY_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb304049227136803</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.944939788978-emcvb4ai5k4b1bj91g7uounfdb2p4uvt</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CodePushDeploymentKey</key>
	<string>koynC6tLRaPXaiG1Sb4b8SXAKoRg581d560a-0218-4243-a9eb-f46181c392d5</string>
	<key>FacebookAppID</key>
	<string>304049227136803</string>
	<key>FacebookDisplayName</key>
	<string>3ayez</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>3ayez would like to use your camera for chat</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>3ayez would like to use your current location to find nearby stores</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>3ayez would like access to your photo gallery for chat</string>
	<key>UIAppFonts</key>
	<array>
		<string>Cairo-Black.ttf</string>
		<string>Cairo-Bold.ttf</string>
		<string>Cairo-ExtraLight.ttf</string>
		<string>Cairo-Light.ttf</string>
		<string>Cairo-Regular.ttf</string>
		<string>Cairo-SemiBold.ttf</string>
		<string>Poppins-Black.otf</string>
		<string>Poppins-BlackItalic.otf</string>
		<string>Poppins-Bold.otf</string>
		<string>Poppins-BoldItalic.otf</string>
		<string>Poppins-ExtraBold.otf</string>
		<string>Poppins-ExtraBoldItalic.otf</string>
		<string>Poppins-ExtraLight.otf</string>
		<string>Poppins-ExtraLightItalic.otf</string>
		<string>Poppins-Italic.otf</string>
		<string>Poppins-Light.otf</string>
		<string>Poppins-LightItalic.otf</string>
		<string>Poppins-Medium.otf</string>
		<string>Poppins-MediumItalic.otf</string>
		<string>Poppins-Regular.otf</string>
		<string>Poppins-SemiBold.otf</string>
		<string>Poppins-SemiBoldItalic.otf</string>
		<string>Poppins-Thin.otf</string>
		<string>Poppins-ThinItalic.otf</string>
		<string>Frutiger LT Arabic 45 Light.ttf</string>
		<string>Frutiger LT Arabic 55 Roman.ttf</string>
		<string>Frutiger LT Arabic 65 Bold.ttf</string>
		<string>Frutiger LT Arabic 75 Black.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>whatsapp</string>
    <string>mailto</string>
  </array>
</dict>
</plist>
